<div class="container-fluid">
    <div class="row">


        <div class="col-md-6 mt-3 AddProducts">

            <div class="card-header">
                <h4>
                    Write New Password Please
                </h4>
            </div>

            <div *ngIf="massege !=''" class="alert alert-danger" role="alert">
                {{massege}}
            </div>
            <form [formGroup]="UserForm" (ngSubmit)="ChangeEmail()" class="shadow-lg p-3 mb-5 bg-white rounded">
                <!-- start password input and validation -->
                <div class="form-floating mb-3">
                    <input formControlName="password" #password name="password" type="password" required class="form-control" id="floatingPassword" placeholder="New Password">
                    <label for="floatingPassword">New Password</label>

                    <small *ngIf="UserForm.controls?.password?.touched && UserForm.controls?.password?.errors?.minlength" class="form-text  text-danger">password min Length is 6
                    </small>
                    <small *ngIf="UserForm.controls?.password?.touched && UserForm.controls?.password?.errors?.maxlength" class="form-text  text-danger">password Max Length is 16
                    </small>
                    <small *ngIf="UserForm.controls?.password?.touched && UserForm.controls?.password?.errors?.required" class="form-text  text-danger">password is requierd
                    </small>
                </div>
                <!-- end password input and validation -->

                <!-- start confirm password input and validation -->
                <div class="form-floating mb-3">
                    <input formControlName="confirmPassword" name="confirmPassword" (keyup)="CheckEqual($event.target.value)" type="password" required class="form-control" id="floatingconfirmPassword" placeholder="Confirm Password">
                    <label for="floatingPassword">Confirm Password</label>

                    <small *ngIf="UserForm.controls?.confirmPassword?.touched && notEqual" class="form-text  text-danger">password and
                      Confirm Password does not match
                    </small>
                    <small *ngIf="UserForm.controls?.confirmPassword?.touched && UserForm.controls?.confirmPassword?.errors?.required" class="form-text  text-danger">password is requierd
                    </small>
                    <small *ngIf="UserForm.controls?.confirmPassword?.touched && UserForm.controls?.confirmPassword?.errors?.required && !UserForm.controls?.confirmPassword?.errors?.required" class="form-text  text-danger">Confirm password is requierd
                    </small>
                </div>
                <!-- end confirm password input and validation -->


                <div class="form-group">
                    <div class="card-header2 pb-4">
                        <button type="submit" [disabled]="UserForm?.invalid" class="btn btn-outline-success float-right addBtn">Change</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>