<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="https://localhost:44342/images/sliders/{{slider?.image}}" alt="">
        </div>
        <div class="col-6">
            <ul>
                <li class="d-flex align-items-center">
                    <h6> Heading </h6>
                    <h6 for="">: {{slider?.heading}}</h6>
                </li>

                <li>
                    Description :
                </li>

                <li>
                    <h6 for="">{{slider?.description}}</h6>
                </li>

                <li class="d-flex align-items-center">
                    <h6>Linke</h6>

                    <h6 for="">:{{slider?.linke}}</h6>
                </li>

                <li class="d-flex align-items-center">
                    <h6>Linke Name </h6>

                    <h6 for="">:{{slider?.linkeName}}</h6>
                </li>

                <li class="d-flex align-items-center">
                    <h6>Status</h6>

                    <h6 for="">: {{slider?.status}}</h6>
                </li>
            </ul>
        </div>
    </div>
</div>