<footer class="site-footer bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">

                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Skills</h6>
                <ul class="footer-links pl-0">
                    <li><a href="#">C#</a></li>
                    <li><a href="#">Asp.net Web API</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">Android</a></li>
                    <li><a href="#">Laravel</a></li>
                    <li><a href="#">Angular</a></li>
                    <li><a href="#">Java Script</a></li>
                    <li><a href="#">HTML CSS</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links pl-0">
                    <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                    <a href="#">Scanfcode</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/mousab.abs"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/home"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/mosab-najeeb-604941215/"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
