.text-danger:hover {
    color: #fff !important;
}

.text-dangerPlus {
    color: #dc3545!important;
}

.AddImage {
    transform: translateX(50%);
}

@media screen and (max-width:768px) {
    .AddImage {
        transform: translateX(0%);
    }
}

.card-header2 {
    padding: 20px 0px;
}
