.text-danger:hover {
    color: #fff !important;
}

.ViewCategory {
    transform: translateX(50%);
}

@media screen and (max-width:768px) {
    .ViewCategory {
        transform: translateX(0%);
    }
}

.card-header2 {
    padding: 20px 0px;
}
