<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <b>
       Profile Page
      </b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item " [ngClass]="{'active':isActive == false}" (click)="IsActive()">
                <a class="nav-link">My Profile</a>
            </li>
            <li class="nav-item" [ngClass]="{'active':isActive == true}" (click)="IsActive()">
                <a class="nav-link">My Orders</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 More Controll
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="" routerLink="/"><i class="fas fa-power-off"></i> Quit</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div *ngIf="isActive == false">
    <app-my-profile></app-my-profile>
</div>

<div *ngIf="isActive == true">
    <app-my-order></app-my-order>
</div>